{% extends "master.html" %}
{% load config_extras %}
{% block content %}
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  
<style>
	
	.input-group .tooltiptext {
		display: inline-block;
	    visibility: hidden;
	    width: 80%;
	    background-color: #528B8B;
	    color: #fff;
	    text-align: center;
		border-radius: 6px;
		border: 2px #2F4F4F solid;
	    padding: 5px 5px;
	    position: absolute;
    	z-index: 100;
    	top: 115%;
    	left: 50%;
    	margin-left: -20px;
    	opacity: 0;
    	transition: opacity 0.3s;
		font-size: 70%;
	}
	
	.input-group:hover .tooltiptext {
	    visibility: visible;
	    opacity: 1;
	}
	
	.input-group-addon {
		min-width: 150px;
	}
	
	.input-group {
		padding-bottom: 5px;
	}
	
	span[name="checkbox"] {
		min-width: 0px;
	}
	
	input[type="checkbox"] {
		width: 30px;
		height: 30px;
	}
	
	.h-hover:hover {
		text-decoration: underline;
		cursor: pointer;
	}
	
	.preview {
		background-color: #E8ECEF;
		border-radius: 0px;
		font-size: 13px;
		padding-top: 0px;
		font-family: monospace;
		color: #000;
		max-height: 650px;
		height: 650px;
		overflow-y: auto;
		overflow-x: auto;
	}
	
	.preview pre {
		font-size: 13px;
		font-family: monospace;
	}
	
	.plabel {
		display: inline-block;
		padding-top: 10px;
	}

	.dataspy {
		position: sticky;
		top: 10px;
	}
	
	.highlight {
		background-color: yellow;
	}
	
	.modal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 9999; /* Sit on top */
		padding-top: 100px; /* Location of the box */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
	}

	/* Modal Content */
	.modal-content {
		position: relative;
		background-color: #fefefe;
		margin: auto;
		padding: 0;
		border: 1px solid #888;
		width: 60%;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		-webkit-animation-name: animatetop;
		-webkit-animation-duration: 0.4s;
		animation-name: animatetop;
		animation-duration: 0.4s
		color: black;
	}
	
	.modal-content input {
		width: 50%;
	}

	/* Add Animation */
	@-webkit-keyframes animatetop {
		from {top:-300px; opacity:0} 
		to {top:0; opacity:1}
	}

	@keyframes animatetop {
		from {top:-300px; opacity:0}
		to {top:0; opacity:1}
	}

	/* The Close Button */
	.close {
		color: white;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}

	.close:hover,
	.close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}

	.modal-header {
		padding: 2px 16px;
		background-color: #5cb85c;
		color: white;
	}

	.modal-body {
		padding: 2px 16px;
		color: black;
	}

	.modal-footer {
		padding: 2px 16px;
		background-color: #5cb85c;
		color: white;
	}
	
	.modal-body input {
		width: 100%;
	}
	.fa-check {
		color: green;
	}
	.fa-times {
		color: red;
	}
	
	.fa-exclamation-triangle {
		color: yellow;
	}
	
	.warning {
		font-size: 80%;
	}
	/*
	table th {
		border-right: 1px solid gray;
	}
	*/
</style>

<div class="container-fluid">

	<div class="row">
	
		<div class="col sm-12">
			{% for warning in warnings %}
				{% include "home/warning.html" with w=warning %}
			{% endfor %}
			{% if warnings|length > 0 %}
				<br>
			{% endif %}
		</div>
	
	</div>


	<div class="row">
	
	
	
	
	{% if user.is_authenticated and request.user|has_group:"monsoon" %}
	
		{% if project_limit_reached %}
		<div id="monsoon-confirm" class="modal">
			<div class="modal-content">
				<div class="modal-header">
					<h2 style="padding: 5px;">Run BioNetFit on Monsoon</h2>
					<span class="close">&times;</span>
				</div>
				<div class="modal-body">
					<div class="container block-center">
						<h2>You have reached the maximum allowed number of projects.</h2>
					</div>
				</div>
				<div class="modal-footer">
				</div>
			</div>
		</div>

		{% else %}
		<div id="monsoon-confirm" class="modal">

			<div class="modal-content">
				<div class="modal-header">
					<h2 style="padding: 5px;">Run BioNetFit on Monsoon</h2>
					<span class="close">&times;</span>
				</div>
				
				<div class="modal-body">
					<div class="container block-center">
				
						<table class="table">
							<tbody>
								<tr>
									<th style="width: 30%" scope="row">Project Name</th>
									<td style="width: 40%"><input id="project_name-modal" class="modal-field form-control" type="text"></td>
									<td style="width: 15%"></td> <!-- Placeholder for submit button for uploading exp -->
									<td class="modal-check" id="project_name-check"></td> <!-- Green checkmark for OK, Red X for not OK -->
								</tr>
								<tr>
									<td style="width: 30%">Max Memory (GB)</td>
									<td style="width: 40%"><input id="memory-modal" class="modal-field form-control" type="text"></td>
									<td style="width: 15%"></td>
									<td class="modal-check" id="memory-check"></td>
								</tr>
								<tr>
									<td style="width: 30%">Max Walltime</td>
									<td style="width: 40%"><input id="walltime-modal" class="modal-field form-control" type="text" readonly></td>
									<td style="width: 15%"></td>
									<td class="modal-check" id="walltime-check"></td>
								</tr>
								<tr>
									<td style="width: 30%">Parallel Count</td>
									<td style="width: 40%"><input id="parallel_count-modal" class="modal-field form-control" type="text" readonly></td>
									<td style="width: 15%"></td>
									<td class="modal-check" id="parallel_count-check"></td>
								</tr>
								<tr>
									<td style="width: 30%">BNGL File</td>
									<td style="width: 40%"><input id="bngl-modal" class="modal-field form-control" type="text" readonly></td>
									<td style="width: 15%"></td>
									<td class="modal-check" id="bngl-check"></td>
								</tr>
								<tr>
									<td style="width: 30%">EXP File</td>
									<td style="width: 40%"><input id="exp-modal" class="modal-field form-control" type="text" readonly></td>
									<td style="width: 15%"><input id="exp-upload_input" class="form-control-sm" type="file" accept=".exp" style="display: none">
									<input id="exp-upload" value="Upload" class="form-control-sm col-8" type="button" style="display: none" onclick='document.getElementById("exp-upload_input").click();'></td>
									<td class="modal-check" id="exp-check"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<div class="container text-center" style="padding: 10px;">
						<button id="cancel-monsoon" class="btn btn-danger">Cancel</button>
						<button id="submit-monsoon" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</div>

		</div>
		
		{% endif %}
	
	{% elif not user.is_authenticated %}
	<div id="monsoon-confirm" class="modal">
		<div class="modal-content">
			<div class="modal-header">
				<h2 style="padding: 5px;">Run BioNetFit on Monsoon</h2>
				<span class="close">&times;</span>
			</div>
			<div class="modal-body">
				<div class="container block-center">
					<h2>Not logged in -- can't use Monsoon</h2>
				</div>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
	
	{% elif not request.user|has_group:"monsoon" %}
	<div id="monsoon-confirm" class="modal">
		<div class="modal-content">
			<div class="modal-header">
				<h2 style="padding: 5px;">Run BioNetFit on Monsoon</h2>
				<span class="close">&times;</span>
			</div>
			<div class="modal-body">
				<div class="container block-center">
					<h2>Your account has not been approved to use Monsoon.</h2>
				</div>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
	{% else %}
	<div id="monsoon-confirm" class="modal">
		<div class="modal-content">
			<div class="modal-header">
				<h2 style="padding: 5px;">Run BioNetFit on Monsoon</h2>
				<span class="close">&times;</span>
			</div>
			<div class="modal-body">
				<div class="container block-center">
					<h2>An error has occurred. You cannot use Monsoon.</h2>
				</div>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
	{% endif %}
	
	
	<div class="left col-md-4 col-sm-8">

		<h2 id="free-options">Free Options</h2>
		
		
			{% for o in observables %}
				{% include "config/free_input.html" with label=o description="free observable"  %}
			{% endfor %}
		
		
		<br>
		<br>
		
		<h2>General Options</h2>
		
		{% for option in general_visible %}
			{% include option.input_type with label=option.name description=option.description default=option.default options=option.choices %}
		{% endfor %}
		
		
		
		<button class="dropdown-toggle btn-sm btn-secondary" data-toggle="collapse" data-target="#optional-general">Optional parameters</button>
		<div id="optional-general" class="collapse">
			{% for option in general_hidden %}
				{% include option.input_type with label=option.name description=option.description default=option.default options=option.choices %}
			{% endfor %}
		</div>
		
		<br>
		<br>
		
		<h2>Fitting Options</h2>
		{% for option in fitting_visible %}
			{% include option.input_type with label=option.name description=option.description default=option.default %}
		{% endfor %}
		
		<button class="dropdown-toggle btn-sm btn-secondary" data-toggle="collapse" data-target="#optional-fitting">Optional parameters</button>
		<div id="optional-fitting" class="collapse">
			{% include "config/mutate_input.html" with label="mutate" description="This option is used to identify a free parameter. It has three arguments. The first is a parameter identifier or parameter name. We recommend that parameter identifiers such as p__FREE__be used rather than parameter names such as p. See Section IV.B.3 in http://bionetfit.nau.edu/files/BioNetFit_User_Manual.pdf. The second argument is the 'mutation' rate (Q2). This quantity is a probability and therefore it must take values between 0 and 1. The third argument sets a range in which a factor will fall. This factor multiplies the old value of a parameter to obtain a new 'mutated' value of the parameter. The factor is chosen randomly. It is a uniform random deviate U that lies between 1 -arg3 and 1 + arg3, where arg3 is the user-specified value of the third argument. In other words, p_new = p_old*U = " %}
			{% for option in fitting_hidden %}
				{% include option.input_type with label=option.name description=option.description default=option.default options=option.choices %}
			{% endfor %}
			
		</div>
		
		<br>
		<br>
		
		<h2 class="dropdown-toggle h-hover" data-toggle="collapse" data-target="#cluster-options">Cluster Options</h2>
		<div id="cluster-options" class="collapse">
			{% for option in cluster_hidden %}
				{% include option.input_type with label=option.name description=option.description default=option.default options=option.choices %}
			{% endfor %}
		</div>
		
		<br>
		<br>
		
		<h2 class="dropdown-toggle h-hover" data-toggle="collapse" data-target="#path-options">Path Options</h2>
		<div id="path-options" class="collapse">
			{% for option in path_hidden %}
				{% include option.input_type with label=option.name description=option.description default=option.default options=option.choices %}
			{% endfor %}
		</div>
		
		<br>
		<br>
		
		<h2 class="dropdown-toggle h-hover" data-toggle="collapse" data-target="#display-options">Display Options</h2>
		<div id="display-options" class="collapse">
			{% for option in display_hidden %}
				{% include option.input_type with label=option.name description=option.description default=option.default options=option.choices %}
			{% endfor %}
		</div>
		
		<br>
		
		<div id="custom-fields">
		
		</div>
		<h5 id="add-custom-option" class="h-hover"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Add custom option</h5>
		
	</div> <!-- left column -->
	
	
	
	
	<div class="col-md-2"></div>
	
	
	
	<!-----------------------LIVE PREVIEW--------------------------->
	
	<div class="col-md-6 col-sm-12">
	
		<div class="dataspy">
		<h2 id="preview-title">Live Preview</h2>
	
		<div id="live-preview" class="preview container-fluid">
	
		<pre class="p-label" id="free-options-p">

####################
### Free Options ###
####################</pre>
		{% include "config/mutate_label.html" with label="mutate" %}
		{% for o in observables %}
			{% include "config/free_label.html" with label=o %}
		{% endfor %}

		<pre class="p-label" id="general-options-p">

#######################
### General Options ###
#######################</pre>		

		{% for option in general_visible %}
			{% include "config/label.html" with label=option.name %}
		{% endfor %}
		
		{% for option in general_hidden %}
			{% include "config/label.html" with label=option.name %}
		{% endfor %}

		<pre class="p-label" id="fitting-options-p">

#######################
### Fitting Options ###
#######################</pre>		

		{% for option in fitting_visible %}
			{% include "config/label.html" with label=option.name %}
		{% endfor %}
		
		{% for option in fitting_hidden %}
			{% include "config/label.html" with label=option.name %}
		{% endfor %}
		
		<pre class="p-label" id="cluster-options-p">

#######################
### Cluster Options ###
#######################</pre>	

		{% for option in cluster_hidden %}
			{% include "config/label.html" with label=option.name %}
		{% endfor %}


		<pre class="p-label" id="path-options-p">

####################
### Path Options ###
####################</pre>

		{% for option in path_hidden %}
			{% include "config/label.html" with label=option.name %}
		{% endfor %}


		<pre class="p-label" id="display-options-p">

#######################
### Display Options ###
#######################</pre>		
		
		{% for option in display_hidden %}
			{% include "config/label.html" with label=option.name %}
		{% endfor %}
		
		
		<br>
		</div> <!-- preview container -->
		</div> <!-- dataspy container -->
		
	</div> <!-- right column -->
	
	</div> <!-- row -->

	<div class="row">
		
		<div class="container text-center">
			<br>
			<br>
			<button class="btn btn-success" onclick="download('bionetfit.conf', getData())" id="download">Download</button>
			<button class="btn btn-primary" id="monsoon">Run on Monsoon</button>
			<br>
			<br>
		</div>
		
</div>

	
</div> <!-- container-fluid -->


<script>

	// Normal input live preview
	$(".normal").keyup(function () {
		var oldId = $(this).attr("id");
		var newId = oldId + "-p";
		var inpt = $(this).val();
		if (inpt == "") {
			$("#" + newId).css("display", "none");
		} else {
			$("#" + newId).css("display", "block");
			$("#" + newId).html(oldId + "=" + inpt);
		}
		
	});
	
	// Bool input live preview
	$(".bool").change(function () {
		var oldId = $(this).attr("id");
		var newId = oldId + "-p";
		$("#" + newId).css("display", "block");
		if(this.checked) {
			$("#" + newId).html(oldId + "=1");
		} else {
			$("#" + newId).html(oldId + "=0");
		}
	});

	// Listbox input live preview
	$(".listbox").click(function () {
		var oldId = $(this).attr("id");
		var newId = oldId + "-p";
		var val = $(this).find(":selected").text();
		$("#" + newId).css("display", "block");
		$("#" + newId).html(oldId + "=" + val);
	});
	
	// Free input live preview
	$(".free").keyup(function () {
		var oldId = $(this).attr("id");
		var splitId = oldId.split("-");
		var vartype = $("#" + splitId[0] + "-vartype").find(":selected").val();
		
		if (splitId[1] == "lower") {
			var lower = this;
			var upper = document.getElementById(splitId[0] + "-upper")
			var increment = document.getElementById(splitId[0] + "-increment")
		} else if (splitId[1] == "upper") {
			var lower = document.getElementById(splitId[0] + "-lower");
			var upper = this;
			var increment = document.getElementById(splitId[0] + "-increment");
		} else {
			var lower = document.getElementById(splitId[0] + "-lower");
			var upper = document.getElementById(splitId[0] + "-upper");
			var increment = this;
		}
		
		var toWrite = vartype + "=" + splitId[0] + " " + lower.value + " ";
		if (upper.style.display != "none") {
			toWrite += upper.value + " ";
		}
		if (increment.style.display != "none") {
			toWrite += increment.value;
		}
				
		var newId = splitId[0] + "-p";
		if (lower.value == "" && upper.value == "") {
			$("#" + newId).css("display", "none");
		} else {
			$("#" + newId).css("display", "block");
			$("#" + newId).html(toWrite);
		}
	});
	
	// Free input var type change
	$(".vartype").change(function() {
		var oldId = $(this).attr("id");
		var label = oldId.split("-")[0];
		var increment = $("#" + label + "-increment");
		var upper = $("#" + label + "-upper");
				
		var vartype = $(this).find(":selected").text();
		if (vartype == "loguniform") {
			increment.css("display", "none");
			upper.css("display", "block");
		} else if (vartype == "random") {
			increment.css("display", "none");
			upper.css("display", "block");
		} else if (vartype == "lognormrandom") {
			increment.css("display", "none");
			upper.css("display", "block");
		} else if (vartype == "static_list"){
			increment.css("display", "none");
			upper.css("display", "none");
		}
		
		$("#" + label + "-lower").keyup();
	});
	
	// Walltime input live preview
	$(".walltime").keyup(function() {
		var oldId = $(this).attr("id");
		var splitId = oldId.split("-");

		if (splitId[1] == "h") {
			var hours = $(this).val();
			var minutes = document.getElementById(splitId[0] + "-m").value;
			var seconds = document.getElementById(splitId[0] + "-s").value;
		} else if (splitId[1] == "m") {
			var hours = document.getElementById(splitId[0] + "-h").value;
			var minutes = $(this).val();
			var seconds = document.getElementById(splitId[0] + "-s").value;
		} else {
			var hours = document.getElementById(splitId[0] + "-h").value;
			var minutes = document.getElementById(splitId[0] + "-m").value;
			var seconds = $(this).val();
		}
		
		
		var newId = splitId[0] + "-p";
		if (hours == "" && minutes == "") {
			$("#" + newId).css("display", "none");
		} else {
			$("#" + newId).css("display", "block");
			$("#" + newId).html(splitId[0] + "=" + hours + ":" + minutes + ":" + seconds);
		}
	});
	
	// Custom input live preview
	$(document).on("keyup", ".custom", function() {
		var oldId = $(this).attr("id");
		var newId = oldId + "-p";
		var inpt = $(this).val();
		if (inpt == "") {
			$("#" + newId).css("display", "none");
		} else {
			$("#" + newId).css("display", "block");
			$("#" + newId).html(inpt);
		}
	});
	
	
	// Highlight label
	var lastHovered = null;
	$(document).on("mouseover", ".input-group", function() {
		var oldId = $(this).attr("id");
		var splitId = oldId.split("-");
		var toHighlight = $("#" + splitId[0] + "-p");
		toHighlight.addClass("highlight");
		
		if (toHighlight.attr("id") != lastHovered && toHighlight.css("display") != "none") {
			// Scroll to label in live preview
			var previewTop = $(".preview").position().top;
			var offset = toHighlight.position().top;
			if (offset < 0) {
				offset = 0;
			}
			lastHovered = toHighlight.attr("id");
			$(".preview").scrollTop(offset);
		}
	});
	
	// Remove highlight on label
	$(document).on("mouseout", ".input-group", function() {
		var oldId = $(this).attr("id");
		var splitId = oldId.split("-");
		var toHighlight = $("#" + splitId[0] + "-p");
		toHighlight.removeClass("highlight");
	});
	
	var expContents = `{{ exp }}`;
	var expName = "{{ exp_name }}";
	$(function() {
		$("#monsoon").click(function() {

			$("#monsoon-confirm").css("display", "block");
			
			$("#project_name-modal").keyup();
			
			// Display and check the project name (done in different function)
			$("#project_name-modal").keyup();
			
			// Display and check the memory (done in different function)
			$("#memory-modal").keyup();
			
			// Display and check walltime
			var hours = $("#max_walltime-h").val();
			var minutes = $("#max_walltime-m").val();
			var seconds = $("#max_walltime-s").val();
			var timeFields = [hours, minutes, seconds];
			var timeIsValid = true;
			for (var i = 0; i < timeFields.length; i++) {
				for (var j = 0; j < timeFields[i].length; j++) {
					if (timeFields[i][j] < '0' || timeFields[i][j] > '9') {
						timeIsValid = false;
					}
				}
			}
			var walltime = hours + ":" + minutes + ":" + seconds;
			$("#walltime-modal").val(walltime);
			if (timeIsValid && (+hours < {{ walltime_limit }})) {	// Don't allow a job longer than 2 weeks (?)
				$("#walltime-check").html('<i class="fa fa-check" aria-hidden="true"></i>');
			} else {
				$("#walltime-check").html('<i class="fa fa-times" aria-hidden="true"></i>');
			}
			
			// Display and check parallel count
			var parallelCount = $("#parallel_count").val();
			$("#parallel_count-modal").val(parallelCount);
			var pcIsValid = true;
			for (var i = 0; i < parallelCount.length; i++) {
				if (parallelCount[i] < '0' || parallelCount[i] > '9') {
					pcIsValid = false;
				}
			}
			if (pcIsValid && (+parallelCount < {{ parallel_count_limit }}) && (+parallelCount > 0)) {
				$("#parallel_count-check").html('<i class="fa fa-check" aria-hidden="true"></i>');
			} else {
				$("#parallel_count-check").html('<i class="fa fa-times" aria-hidden="true"></i>');
			}
			
			// Display and check BNGL file
			$("#bngl-modal").val("{{ bngl_name }}");
			$("#bngl-check").html('<i class="fa fa-check" aria-hidden="true"></i>');
			
			// Display and check EXP file
			if (expName != "") {
				$("#exp-modal").val(expName);
				$("#exp-check").html('<i class="fa fa-check" aria-hidden="true"></i>');
			} else {
				$("#exp-upload").css("display", "block");
				$("#exp-check").html('<i class="fa fa-times" aria-hidden="true"></i>');
			}
			
		});
	});
	
	// X and Cancel buttons on monsoon confirmation popup
	$(".close, #cancel-monsoon").click(function() {
		$("#monsoon-confirm").css("display", "none");
	});
	
	// EXP upload field in monsoon confirmation popup
	$("#exp-upload_input").change(function() {
		if ($(this).prop("files").length > 0) {
			var filename = $(this).prop("files")[0].name;
			var reader = new FileReader();
			reader.readAsText($(this).prop("files")[0]);
			reader.onload = function(evt) {
				expContents = evt.target.result;
				expName = filename;
				$("#exp-modal").val(filename);
				$("#exp-check").html('<i class="fa fa-check" aria-hidden="true"></i>');
				$("#project_name-modal").keyup();
			};
		}
	});
	
	// Memory field check in monsoon confirmation popup
	$("#memory-modal").keyup(function() {
		var contents = $(this).val();
		var isValid = true ? contents.length > 0 : false;
		for (var i = 0; i < contents.length; i++) {
			if (contents[i] < '0' || contents[i] > '9') {
				isValid = false;
			}
		}
		if (isValid && (+contents < {{ memory_limit }})) {	// 100 GB limit on jobs (?)
			$("#memory-check").html('<i class="fa fa-check" aria-hidden="true"></i>');
		} else {
			$("#memory-check").html('<i class="fa fa-times" aria-hidden="true"></i>');
		}
	});
	
	// Project name field check in monsoon confirmation popup
	$("#project_name-modal").keyup(function() {
		var contents = $(this).val();
		if (contents.match(/^[a-z0-9-]+$/i) && contents.length < {{ name_length_limit }}) {	// 30 char limit (?)
			$("#project_name-check").html('<i class="fa fa-check" aria-hidden="true"></i>');
		} else {
			$("#project_name-check").html('<i class="fa fa-times" aria-hidden="true"></i>');
		}
	});
	
	// Allow user to submit job if all checks pass in monsoon confirmation popup
	$(".modal-field").on("change, keyup", function() {
		var allFields = [$("#project_name-check"), $("#memory-check"), $("#walltime-check"), $("#parallel_count-check"), $("#bngl-check"), $("#exp-check")];
		allPass = true;
		for (var i = 0; i < allFields.length; i++) {
			if (allFields[i].html() != '<i class="fa fa-check" aria-hidden="true"></i>') {
				allPass = false;
				break;
			}
		}
		if (allPass) {
			$("#submit-monsoon").prop("disabled", false);
		} else {
			$("#submit-monsoon").prop("disabled", true);
		}
	});
	
	// Submit job
	$("#submit-monsoon").click(function() {
		$(this).prop("disabled", true);
		$(this).html('<i class="fa fa-gear fa-spin" aria-hidden="true"></i>');
		var data = getData();
		var memory = $("#memory-modal").val();
		var walltime = $("#walltime-modal").val();
		var projectName = $("#project_name-modal").val()
		var parallelCount = $("#parallel_count-modal").val();
		
		$.ajax({type: "POST",
				url: "/user",
				data: {conf: data,
					   bngl: `{{ bngl }}`,
					   exp: expContents,
					   bnglName: "{{ bngl_name }}",
					   expName: expName,
					   memory: memory,
					   walltime: walltime,
					   projectName: projectName,
					   parallelCount: parallelCount,
					   csrfmiddlewaretoken: '{{ csrf_token }}'},
				success: function() 
					{
						location.href="user";
					}
		});
		
	});

	
	function download(filename, text) {
		var element = document.createElement('a');
		element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
		element.setAttribute('download', filename);

		element.style.display = 'none';
		document.body.appendChild(element);

		element.click();
		
		document.body.removeChild(element);
	}
	
	function getData() {
		var data = "";
		
		var fields = document.getElementsByClassName("p-label");
		for (var i = 0; i < fields.length; i++) {
			if (fields[i].style.display != "none") {
				data += fields[i].textContent + "\n";
			}
		}
		
		return data;
	}
	
	
	var customFieldIdx = 0;
	$("#add-custom-option").click(function() {
		var newId = "custom_option_" + customFieldIdx;
		var customField = '<div id="' + newId + '-hl" class="input-group">\n';
		customField += '<span class="input-group-addon">' + newId + '</span>';
		customField += '<input type="text" id="' + newId + '" class="custom form-control">\n';
		customField += '</div>';
		customFieldIdx++;
		$("#custom-fields").append(customField);
		var customLabel = '<div class="p-label" id="' + newId + '-p" style="display: none;">\n\n</div>';
		$("#live-preview").append(customLabel);
	});
	
	
	$(document).ready(function() {
		var optionFields = jQuery.parseJSON('{{ option_fields|safe }}');
		console.log(optionFields);

		jQuery.each(optionFields, function(key, value) {
			if (value.length == 0) {
				$("#add-custom-option").click();
				$("#custom_option_" + (customFieldIdx - 1)).val(key);
			} else {
				var match = $("#" + key);
				switch (match.attr("class").split(/\s+/)[0]) {
					case "normal":
						console.log(key, value);
						break;
					case "bool":
						console.log(key, value);
						break;
					case "listbox":
						console.log(key, value);
						break;
					case "free":
						console.log(key, value);
						break;
				}
			}
		});
	});
	
	
</script>
{% endblock %}
