{% extends "master.html" %}

{% block content %}
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  
<style>
	
	.input-group .tooltiptext {
		display: inline-block;
	    visibility: hidden;
	    width: 80%;
	    background-color: #528B8B;
	    color: #fff;
	    text-align: center;
		border-radius: 6px;
		border: 2px #2F4F4F solid;
	    padding: 5px 5px;
	    position: absolute;
    	z-index: 100;
    	top: 115%;
    	left: 50%;
    	margin-left: -20px;
    	opacity: 0;
    	transition: opacity 0.3s;
		font-size: 70%;
	}
	
	.input-group:hover .tooltiptext {
	    visibility: visible;
	    opacity: 1;
	}
	
	.input-group-addon {
		min-width: 150px;
	}
	
	.input-group {
		padding-bottom: 5px;
	}
	
	span[name="checkbox"] {
		min-width: 0px;
	}
	
	input[type="checkbox"] {
		width: 30px;
		height: 30px;
	}
	
	.h-hover:hover {
		text-decoration: underline;
		cursor: pointer;
	}
	
	.preview {
		background-color: #E8ECEF;
		border-radius: 5px;
		font-size: 18px;
		padding-top: 10px;
		font-family: monospace;
		color: #000;
	}
	
	.preview pre {
		font-size: 18px;
		font-family: monospace;
	}
	
	.plabel {
		display: inline-block;
		padding-top: 20px;
	}

	.preset_list {
     list-style-type:none;
     margin:5px 0 0 0;
     padding:0;
	}

	.preset_list li {
		float:left;
		margin:0 5px 0 0;

		width:50px;
		height:40px;
		position:relative;
	}

	.preset_list label, .preset_list input {
		display:block;
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
	}

	.preset_list input[type="radio"] {
		opacity:0.01;
		z-index:100;
	}

	.preset_list input[type="radio"]:checked + label,
	.Checked + label {
		background:#6e7f80;
	}

	.preset_list label {
		padding:5px;
		border:1px solid #CCC; 
		cursor:pointer;
		z-index:90;
	}

	.preset_list label:hover {
		background:#DDD;
	}
</style>

<div class="container-fluid">

	<div class="row">

	
	
	<div class="left col-md-4 col-sm-8">

		<h2 id="preset-fill">Generate Default</h2>
		<div id="preset-buttons"style="float: left">
			<input id="genDefaults" type="button" value="Generate" name="genDefualt" onclick="genPresets(this.id)">
			<input id="eraseDefaults" type="button" value="Erase Defualt" name="eraseDefault" onclick="erasePresets(this.id)">
		</div>
		<br>
		<br>

		<h2 id="free-options">Free Options</h2>
		
		{% block my_options %}
		{% include "config/listbox_input.html" with label="test" options=my_options description="test" %}
		{% endblock %}
		
		{% block observables %}
			{% include "config/mutate_input.html" with label="mutate" description="This option is used to identify a free parameter. It has three arguments. The first is a parameter identifier or parameter name. We recommend that parameter identifiers such as p__FREE__be used rather than parameter names such as p. See Section IV.B.3 in http://bionetfit.nau.edu/files/BioNetFit_User_Manual.pdf. The second argument is the 'mutation' rate (Q2). This quantity is a probability and therefore it must take values between 0 and 1. The third argument sets a range in which a factor will fall. This factor multiplies the old value of a parameter to obtain a new 'mutated' value of the parameter. The factor is chosen randomly. It is a uniform random deviate U that lies between 1 -arg3 and 1 + arg3, where arg3 is the user-specified value of the third argument. In other words, p_new = p_old*U = " %}
			{% for o in observables %}
				{% include "config/free_input.html" with label=o description="free observable"  %}
			{% endfor %}
		{% endblock %}
		
		<br>
		<br>
		
		<h2>General Options</h2>
		
		<!--{% include "config/normal_input.html" with label="parallel_count" description="Number of models to run simultaneously when running on a personal computer. It is recommended that this is set to the number of CPU cores present in your machine. Default is 2."%}-->
		{% for option in general_visible %}
			{% include option.input_type with label=option.name description=option.description %}
		{% endfor %}
		
		<div class="input-group">
		<span class="input-group-addon">max_walltime</span>
		<span class="tooltiptext">If a permutation is taking longer than maximum walltime, we will move on without it. Note: Many qsub systems will give your jobs lower priority as your walltime increases. Default is 01:00:00 (1 hour).</span>
		<input class="form-control" id="max-walltime-h" type="text" placeholder="HH">
		<span class="input-group-addon" style="min-width:0px;">:</span>
		<input class="form-control" id="max-walltime-m" type="text" placeholder="MM">
		<span class="input-group-addon" style="min-width:0px;">:</span>
		<input class="form-control" id="max-walltime-s" type="text" value="00">
		</div>
		
		<button class="dropdown-toggle btn-sm btn-secondary" data-toggle="collapse" data-target="#optional-general">Optional parameters</button>
		<div id="optional-general" class="collapse">
			{% for option in general_hidden %}
				{% include option.input_type with label=option.name description=option.description %}
			{% endfor %}
		</div>
		
		<br>
		<br>
		
		<h2>Fitting Options</h2>
		{% for option in fitting_visible %}
			{% include option.input_type with label=option.name description=option.description %}
		{% endfor %}
		
		<button class="dropdown-toggle btn-sm btn-secondary" data-toggle="collapse" data-target="#optional-fitting">Optional parameters</button>
		<div id="optional-fitting" class="collapse">
			{% for option in fitting_hidden %}
				{% include option.input_type with label=option.name description=option.description %}
			{% endfor %}
			
		</div>
		
		<br>
		<br>
		
		<h2 class="dropdown-toggle h-hover" data-toggle="collapse" data-target="#cluster-options">Cluster Options</h2>
		<div id="cluster-options" class="collapse">
			{% for option in cluster_visible %}
				{% include option.input_type with label=option.name description=option.description %}
			{% endfor %}
		</div>
		
		<br>
		<br>
		
		<h2 class="dropdown-toggle h-hover" data-toggle="collapse" data-target="#path-options">Path Options</h2>
		<div id="path-options" class="collapse">
			{% for option in path_hidden %}
				{% include option.input_type with label=option.name description=option.description %}
			{% endfor %}
		</div>
		
		<br>
		<br>
		
		<h2 class="dropdown-toggle h-hover" data-toggle="collapse" data-target="#display-options">Display Options</h2>
		<div id="display-options" class="collapse">
			{% for option in display_hidden %}
				{% include option.input_type with label=option.name description=option.description %}
			{% endfor %}
		</div>
		
		<br>
		<br>
		<br>
		<!--<form method="POST" enctype="multipart/form-data">{% csrf_token %}-->
		<div id="buttons"style="float: left">
			<input id="download" type="submit" value="Download" name="download">
			<input id="monsoon" type="submit" value="Monsoon" name="monsoon">
		</div>
		<br>
		<br>
		<!--</form>-->
	</div> <!-- left column -->
	
	
	
	
	<div class="col-md-2"></div>
	
	
	
	<!-----------------------LIVE PREVIEW--------------------------->
	
	<div class="col-md-6 col-sm-12">
	
		<h2>Live Preview</h2>
	
		<div class="preview container-fluid">
	
		<pre id="free-options-p">

####################
### Free Options ###
####################</pre>
		{% include "config/mutate_label.html" with label="mutate" %}
		{% for o in observables %}
			{% include "config/free_label.html" with label=o %}
		{% endfor %}

		<pre id="general-options-p">

#######################
### General Options ###
#######################</pre>		

		{% for option in general_visible %}
			{% include "config/label.html" with label=option.name %}
		{% endfor %}
		
		{% for option in general_hidden %}
			{% include "config/label.html" with label=option.name %}
		{% endfor %}

		<pre id="fitting-options-p">

#######################
### Fitting Options ###
#######################</pre>		

		{% for option in fitting_visible %}
			{% include "config/label.html" with label=option.name %}
		{% endfor %}
		
		{% for option in fitting_hidden %}
			{% include "config/label.html" with label=option.name %}
		{% endfor %}
		
		<pre id="cluster-options-p">

#######################
### Cluster Options ###
#######################</pre>	

		{% for option in cluster_hidden %}
			{% include "config/label.html" with label=option.name %}
		{% endfor %}


		<pre id="path-options-p">

####################
### Path Options ###
####################</pre>

		{% for option in path_hidden %}
			{% include "config/label.html" with label=option.name %}
		{% endfor %}


		<pre id="display-options-p">

#######################
### Display Options ###
#######################</pre>		
		
		{% for option in display_hidden %}
			{% include "config/label.html" with label=option.name %}
		{% endfor %}
		
		
		
		</div>
		
	</div> <!-- right column -->
	
	
	
	
	
	</div> <!-- row -->

</div> <!-- container-fluid -->


<script>

	// Normal input live preview
	$(".normal").keyup(function () {
		var oldId = $(this).attr("id");
		var newId = oldId + "-p";
		var inpt = $(this).val();
		if (inpt == "") {
			$("#" + newId).css("display", "none");
		} else {
			$("#" + newId).css("display", "block");
			$("#" + newId).html(oldId + "=" + inpt);
		}
		
	});
	
	// Bool input live preview
	$(".bool").change(function () {
		var oldId = $(this).attr("id");
		var newId = oldId + "-p";
		$("#" + newId).css("display", "block");
		if(this.checked) {
			$("#" + newId).html(oldId + "=1");
		} else {
			$("#" + newId).html(oldId + "=0");
		}
	});

	// Preset input live preview
	$(".preset").change(function () {
		var oldId = $(this).attr("id");
		var newId = oldId + "-p";
		$("#" + newId).css("display", "block");
		if(this.checked) {
			$("#" + newId).html(oldId + "id");
		} else {
			$("#" + newId).html(oldId + "id");
		}
	});
	
	// Free input live preview
	$(".free").keyup(function () {
		var oldId = $(this).attr("id");
		
		var splitId = oldId.split("-");
		
		if (splitId[1] == "lower") {
			var lower = $(this).val();
			var upper = document.getElementById(splitId[0] + "-upper").value;
		} else {
			var lower = document.getElementById(splitId[0] + "-lower").value;
			var upper = $(this).val();
		}
				
		var newId = splitId[0] + "-p";
		if (lower == "" && upper == "") {
			$("#" + newId).css("display", "none");
		} else {
			$("#" + newId).css("display", "block");
			$("#" + newId).html("loguniform_var=" + splitId[0] + "\t" + lower + "\t" + upper);
		}
	});
	
	$(function() {
		$("#monsoon").click(function() {
			var data = "";
			var mutateFields = document.getElementsByClassName("mutate");
			var freeFields = document.getElementsByClassName("free");
			var normalFields = document.getElementsByClassName("normal");
			var boolFields = document.getElementsByClassName("bool");

			for (var i = 0; i < mutateFields.length; i+=2) {
				var name = mutateFields[i].id.split("-")[0];
				data += "mutate=default" + " " + mutateFields[i].value + " " + mutateFields[i+1].value + "\n";
			}
			
			for (var i = 0; i < freeFields.length; i+=2) {
				var name = freeFields[i].id.split("-")[0];
				data += "loguniform_var=" + name + " " + freeFields[i].value + " " + freeFields[i+1].value + "\n";
			}
			
			for (var i = 0; i < normalFields.length; i++) {
				var parent = document.getElementById(normalFields[i].id + "-p");
				if (parent.style.display != "none") {
					data += normalFields[i].id + "=" + normalFields[i].value + "\n"
				}
			}
			
			for (var i = 0; i < boolFields.length; i++) {
				var parent = document.getElementById(boolFields[i].id + "-p");
				if (parent.style.display != "none") {
					var checked = boolFields[i].checked ? "1" : "0";
					data += boolFields[i].id + "=" + checked + "\n";
				}
			}
			
			
			$.ajax({type: "POST",
					url: "/user",
					data: {conf: data,
						   bngl: `{{ bngl }}`,
						   exp: `{{ exp }}`,
						   bnglName: "{{ bngl_name }}",
						   expName: "{{ exp_name }}",
						   csrfmiddlewaretoken: '{{ csrf_token }}'},
					success: function() 
						{
							location.href="user"
						}
					});
					
			
		});
	});

	function genPresets(id){
		var normalMap = {"parallel_count" : "4", "max_generations" : "50", "smoothing" : "1" , "objfunc" : "3", "extra_weight" : "0", 
		                "smoothing" : "1", "extra_weight" : "0", "swap_rate" : "0.5", "keep_parents" : "1" , "log_transform_sim_data" : "0",
						"population_size" : "4", "fit_type" : "ga", "output_every" : "10", "num_islands" : "3" , "mutate_type" : "4",
						"cr" : "0.8", "migration_frequency" : "8", "num_to_migrate" : "3", "inertia" : "0.82" , "cognitive" : "1.49",
						"social" : "1.49", "nmin" : "80", "inertiaInit" : "1", "inertiaFinal" : "0.1" , "abs_tolerance" : "10e-4",
						"rel_tolerance" : "10e-4", "mutate_qpso" : "1", "topology" : "fullyconnected", "pso_type" : "pso" , "synchronicity" : "true",
						"enhanced_stop" : "false", "enhanced_inertia" : "false", "use_pipes" : "false", "divide_by_init" : "false" , "make_plots" : "true",
						"cluster_software" : "BNF2mpi", "use_cluster" : "true", "delete_old_files" : "true", "ask_create" : "true" , "ask_overwrite" : "true",
						"show_welcome_message" : "true", "model" : "/scratch/jng86/bnw/jng86/1521242221/example5.bngl", "exp_file" : "/scratch/jng86/bnw/jng86/1521242221/example5.exp", 
						"output_dir" : "/scratch/jng86/bnw/jng86/1521242221", "bng_command" : "/scratch/jng86/BioNetFit2_pull1/Simulators/BNG2.pl", "job_name" : "jng86_1521242221", "min_objfunc_value" : "1"}
	
		var length = normalMap.length;
		for( var key in normalMap) {
			var e = normalMap[key];
			if(e == "true" || e == "false") {
				document.getElementById(key).checked=e;
			}
			else {
				document.getElementById(key).value=e;
			}
			var label = document.getElementById(key + "-p");
			label.style.display = "block";
			$("#"+key).trigger("change");
			$("#"+key).trigger("keyup");
		}
	}

	function erasePresets(){
		document.getElementById("parallel_count").value=4;
		document.getElementById("parallel_count-p").style.display="block";
		document.getElementById("max_generations").value=50;
		document.getElementById("smoothing").value=1;
		document.getElementById("objfunc").value=3;
		document.getElementById("extra_weight").value=0;
		document.getElementById("swap_rate").value=0.5;
		document.getElementById("keep_parents").value=1;
		
		document.getElementById("log_transform_sim_data").value=0;
		document.getElementById("population_size").value=4;
		document.getElementById("fit_type").value="ga";
		document.getElementById("output_every").value=10;
		document.getElementById("num_islands").value=3;
		document.getElementById("mutate_type").value=4;
		document.getElementById("cr").value=0.8;
		document.getElementById("migration_frequency").value=8;
		document.getElementById("num_to_migrate").value=3;
		document.getElementById("inertia").value=0.82;
		document.getElementById("cognitive").value=1.49;
		document.getElementById("social").value=1.49;
		document.getElementById("nmin").value=80;
		document.getElementById("inertiaInit").value=1;
		document.getElementById("inertiaFinal").value=0.1;
		document.getElementById("abs_tolerance").value=10e-4;
		document.getElementById("rel_tolerance").value=10e-4;
		document.getElementById("mutate_qpso").value=1;
		document.getElementById("topology").value="fullyconnected";
		document.getElementById("pso_type").value="pso";
		document.getElementById("synchronicity").checked=true;
		document.getElementById("enhanced_stop").checked=false;
		document.getElementById("enhanced_inertia").checked=false;
		document.getElementById("use_pipes").checked=false;
		document.getElementById("divide_by_init").checked=false;
		document.getElementById("make_plots").checked=true;

		document.getElementById("cluster_software").value="BNF2mpi";
		document.getElementById("use_cluster").checked=true;
		document.getElementById("delete_old_files").checked=true;
		document.getElementById("ask_create").checked=true;
		document.getElementById("ask_overwrite").checked=true;
		document.getElementById("show_welcome_message").checked=true;
		document.getElementById("model").value="/scratch/jng86/bnw/jng86/1521242221/example5.bngl";
		document.getElementById("exp_file").value="/scratch/jng86/bnw/jng86/1521242221/example5.exp";
		document.getElementById("output_dir").value="/scratch/jng86/bnw/jng86/1521242221";
		document.getElementById("bng_command").value="/scratch/jng86/BioNetFit2_pull1/Simulators/BNG2.pl";
		document.getElementById("job_name").value="jng86_1521242221";
		document.getElementById("min_objfunc_value").value=1;
	}
</script>
{% endblock %}
