<div id="{{ label }}-hl" class="input-group">
	<span class="input-group-addon">{{ label }}</span>
	<span class="tooltiptext">{{ description }}</span>
	<input class="walltime form-control" id="max_walltime-h" type="text" value="1">
	<span class="input-group-addon" style="min-width:0px;">:</span>
	<input class="walltime form-control" id="max_walltime-m" type="text" value="00">
	<span class="input-group-addon" style="min-width:0px;">:</span>
	<input class="walltime form-control" id="max_walltime-s" type="text" value="00">
</div>