body {
	color: #ffffff;
	font-family: 'Ubuntu';
	font-size: 22px;
	background-color: #3D70A5;
}

.navbar-nav > li {
	padding-right:25px;
}

.navbar {
	padding-top: 0px;
	padding-bottom: 0px;
}

.nbd {
	padding-bottom: 10px;
}