{% extends "master.html" %}

{% block content %}
    <style type="text/css">
        .container {
            padding-top: 10px;
        }
        .btn {
            background-color: #505050;
        }
        body {
            background-image: url('/static/img/background.jpg');
        }
        .col-xs-6l {
            float: left;
            padding-right: 20%;
        }
        .col-xs-6r {
            float: left;
        }
        .input-group-addon {
            min-width: 100px;
        }
    </style>
    <body>
        <div class="container">
			<div class="col-xs-6l" >
				<h2>Login</h2>
				<br>
				<form method="post">
					{% csrf_token %}
					{{ form.as_p }}
					<br>
					<div class="btn-toolbar">
					<button class="btn btn-success btn-lg" type="submit" name="login" style="margin-right: 50px;">Login</button>
				</form>
					<a href="/signup"><button class="btn btn-primary btn-lg" type="button">Sign up</button></a>
					</div>
				
			</div>
			
        </div>
    </body>
{% endblock %}