{% extends "master.html" %}

{% block content %}
    <style type="text/css">
        .container {
            padding-top: 10px;
        }
        .btn {
            background-color: #505050;
        }
        body {
            background-image: url('/static/img/background.jpg');
        }
        .col-xs-6l {
            float: left;
            padding-right: 20%;
        }
        .col-xs-6r {
            float: left;
        }
        .input-group-addon {
            min-width: 20px;
        }
		
		.form-control {
			min-width: 350px;
			margin-bottom: 10px;
		}
		
		.borderless td, .borderless th {
			border: none;
		}
		
		.label {
			font-size: 1.1rem;
			font-family: "Segoe UI";
			margin-bottom: 2px;
		}
		
		.error {
			font-size: 1.1rem;
			font-family: "Segoe UI";
			color: red;
			padding-left: 10px;
		}
    </style>
    <body>
        <div class="container">
            <div class="col-xs-6r">
                <h2>Sign up</h2>
				<br>
				<form method="post">
					{% csrf_token %}
					<table>
					<tbody>
					{% for field in form %}
					<tr>
					<td>
						<label for="{{ field.name }}" class="label">{{ field.label }}*</label>
						{{ field }}
					</td>
						{% for error in field.errors %}
						<td>
                            <!--<p style="color: red">{{ error }}</p>-->
							<span class="error">{{ error }}</span>
						</td>
                        {% endfor %}
					{% endfor %}
					</tr>
					</tbody>
					</table>
					<br>
					<button class="btn btn-success btn-lg" type="submit">Sign up</button>
				</form>
            </div>
        </div>
    </body>
{% endblock %}