<!DOCTYPE html>

<!--
	TODO
		>> Local bootstrap css not rendering navbar
		>> Local tether js, or at least verify cdn with checksum
		>> Local jquery
		
		>> Navbar items should have template block after text to allow for different selected items on different pages (now 'home' is always the selected page)
-->

<html lang="en">


<head>
	<title>BioNetWeb</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	{% load staticfiles %}
	
	<!--<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">	
	<link rel="stylesheet" href="{% static 'css/master_style.css' %}" type="text/css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300">
	
	<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>


<body>
	
	<div class="nbd">
	<nav class="navbar navbar-expand navbar-dark bg-dark">
		<a class="navbar-brand" href="/">
			<img src="{% static 'img/new_logo2.png' %}" width="150">
		</a>

		<div class="collapse navbar-collapse" id="navbarsExample02">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/feedback">Feedback</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/resources">Resources</a>
				</li>
			</ul>
			{% if user.is_authenticated %}
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ request.user.get_username }}
					<span class="caret"></span></button>
					<ul class="dropdown-menu">
				    	<li><a class="nav-link" href="/user">Projects</a></li>
				    	<li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
					</ul>
			  	</div>
			{% else %}
				<a class="nav-link" href="/login">Login/Register</a>
			{% endif %}
		</div>
	</nav>
	</div>
	
	{% block content %}
	{% endblock %}


</body>


</html>

