{% extends "master.html" %}

{% block content %}
<style type="text/css">
    .container {
        padding-top: 10px;
    }
    .btn {
        background-color: #505050;
    }
    body {
        background-image: url('/static/img/background.jpg');
    }
    textarea.form-control{
        height:100px;
    }
    .col-md-10 {
        padding-left: 25%;
        padding-right: 25%;
    }
    .col-md-6l {
        float: left;
        padding-right: 5%;
        margin-left: 0%;
        border-right: 1px solid white;
    }
    .col-md-6r {
        float: left;
        padding-left: 5%
    }
    .size-override {
      font-size: 150% !important;
    }
    .page-links {
      color: black;
    }
</style>
<body>
        <section id="contact" class="content-section text-center">
                <div class="contact-section">
                    <div class="container">
                      <h1 class="display-4" style="border-bottom: 1px solid white;">About BioNetWeb</h1>
                      <br>
                      <div class="col-md-6l col-md-6" >
                        <h3 class="display-4 size-override" style="border-bottom: 1px solid white;">About BioNetWeb</h3>
                            <p>BioNetWeb is a Web 2.0 Grpahical User Interface for NAU's BioNetFit software. Created by
                                Team U.I. Fit, the purpose of this website is to increase the usability and ease of
                                access of BioNetFit via a user-friendly interface and graphically displayed results.
                                In order to run the given experiments, the server makes use of a Monsoon vitrual
                                 enviroment, allowing for large experiments to be done<br> quickly and efficiently.</p>
                            <p>For more information about the original developers of BioNetFit, U.I. Fit, or our
                                 correspondants at Los Alamos, vist:</p>
			    <a class="page-links" href="http://cnls.lanl.gov/external/people/William_Hlavacek.php">Dr. Abolfazl Razi</a>
                            |
			    <a class="page-links" href="http://jan.ucc.nau.edu/rgp3/">Dr. William Hlavacek</a><br>
                          <a class="page-links" href="https://www.cefns.nau.edu/~ar2843/">Dr. Richard Posner</a>
                          <p></p>
			    <a class="page-links" href="https://www.cefns.nau.edu/capstone/projects/CS/2018/UIFit/index.html">Team U.I. Fit</a>
                            <br>
			    <a class="page-links" href="http://www.lanl.gov/">Los Alamos Research Center</a>
			    <p></p>

                      </div>
                      <div class="col-md-6r col-md-6" >
                        <h3 class="display-4 size-override" style="border-bottom: 1px solid white;">How it Works</h3>
                        <p>1. The user uploads a either a singular bngl file, or a bngl file partnered with an exp file
                        to the BioNetWeb server.<br><br>
                        2. The user will be redirected to a parameters page. Here, they can fill in any information
                            about the experiment that was not present within the given files.<br><br>
                            3. Once the parameters are chosen, the experiment is run on the NAU Monsoon virtual
                            enviroment. In some cases, this process may take hours.<br><br>
                            4. When the experiment is complete, the server will return the results of the experiment,
                            including graphs that will outline information such as best fit, and average.<br><br>
                        </p>
                      </div>
                    </div>
                </div>
              </section>
</body>
{% endblock %}