{% extends "master.html" %}

{% block content %}
    <style type="text/css">
        .container {
            padding-top: 10px;
        }
        .btn {
            background-color: #505050;
        }
        body {
            background-image: url('/static/img/background.jpg');
        }
        .col-xs-6l {
            float: left;
            padding-right: 20%;
        }
        .col-xs-6r {
            float: left;
        }
        .input-group-addon {
            min-width: 100px;
        }
    </style>
    <body>
        <div class="container">
                <div class="col-xs-6l" >
                    <form method="POST" enctype="multipart/form-data">
                        <h1 class="display-4" style="border-bottom: 1px solid white;">Login</h1>
                        
                        <div class="input-group">
                        <span class="input-group-addon">Username</span>
                         <input id="lUser" name="lUser" type="text" placeholder="Username" >
                        </div>
                        
                        <br>
                        
                        <div class="input-group">
                            <span class="input-group-addon">Password</span>
                            <input id="lPass" name="lPass" type="text" placeholder="Password" >
                        </div>
                    
                        <br><br>
                    
                        <input id="login-submit-btn" type="submit" value="Submit" disabled>
                    
                    </form>
                </div>
                <div class="col-xs-6r">
                    <form method="POST" enctype="multipart/form-data">
                        <h1 class="display-4" style="border-bottom: 1px solid white;">Register</h1>
                            <div class="input-group">
                                <span class="input-group-addon">Username</span>
                                 <input id="lUser" name="lUser" type="text" placeholder="Username" >
                            </div>
                                
                        <br>
                                
                        <div class="input-group">
                            <span class="input-group-addon">Password</span>
                            <input id="rPass" name="rPass" type="text" placeholder="Password" >
                        </div>

                        <br>
                                
                        <div class="input-group">
                            <span class="input-group-addon">Confirm</span>
                            <input id="rConfirm" name="rConfirm" type="text" placeholder="Password" >
                        </div>   

                        <br>
                                
                        <div class="input-group">
                            <span class="input-group-addon">Email</span>
                            <input id="rEmail" name="rEmail" type="text" placeholder="Email" >
                        </div>
                        <br><br>
                            
                        <input id="register-submit-btn" type="submit" value="Submit" disabled>
                    
                    </form>
                </div>
            </div>
    </body>
{% endblock %}