{% extends "master.html" %}

{% block content %}
<style type="text/css">
    .container {
        padding-top: 10px;
    }
    .btn {
        background-color: #505050;
    }
    body {
        background-image: url('/static/img/background.jpg');
    }
    textarea.form-control{
        height:100px;
    }
    .col-md-10 {
        padding-left: 25%;
        padding-right: 25%;
    }
    .col-md-6l {
        float: left;
        padding-right: 5%;
        margin-left: 0%;
        border-right: 1px solid white;
    }
    .col-md-6r {
        float: left;
        padding-left: 5%
    }
    .size-override {
      font-size: 150% !important;
    }
    .page-links {
      color: black;
    }
</style>
<body>
        <section id="contact" class="content-section text-center">
                <div class="contact-section">
                    <div class="container">
                      <h1 class="display-4" style="border-bottom: 1px solid white;">Resources for BioNetWeb and BioNetFit</h1>
                      <br>
                      <div class="col-md-6l col-md-6" >
                        <h3 class="display-4 size-override" style="border-bottom: 1px solid white;"> Independent Resources</h3>
                        <p>Links to download all programs relevant to this project and research area: </p>
                        <a class="page-links" href="http://bionetfit.nau.edu/download.html">Download BioNetFit for client side work</a>
                        <p></p>
			<a class="page-links" href="http://michaelsneddon.net/nfsim/download/">NFSim</a>
                        <p></p>
			<a class="page-links" href="http://www.csb.pitt.edu/Faculty/Faeder/?page_id=409">BioNetGen</a>
                          <h3 class="display-4 size-override" style="border-bottom: 1px solid white;">Information Resources</h3>
                        <p>Here we provide links to all manuals, wikis, and instructional pages for working any of these programs: </p>
                        <a class="page-links" href="http://bionetfit.nau.edu/files/BioNetFit_User_Manual.pdf">BioNetFit User Manual</a>
                        <p></p>
			<a class="page-links" href="http://michaelsneddon.net/nfsim/">NFSim</a>
                        <p></p>
			<a class="page-links" href="http://www.csb.pitt.edu/Faculty/Faeder/?page_id=409">BioNetGen</a>
                          <p></p>
			<a class="page-links" href="http://bionetfit.nau.edu">BioNetFit</a>
                      </div>
                        <div class="col-md-6r col-md-6" >
                        <h3 class="display-4 size-override" style="border-bottom: 1px solid white;">About the Backend</h3>
                        <p>BioNetFit works by requiring the user provides a bngl and a exp (experiment) file. It is then
                            scanned for the needed input values for the file to be ran. The BioNetFit user interface
                            then allowes the user to easily navigate and change options and then allowing them to
                            download the resulting file, or try to run the file directly from the server. These. It
                            uses underlying programs to access the BioNetGen and NFSim programs, used to generate
                            the results.</p>
                        <p>Links to download relevant programs, and wikis for guides to use them.</p>
                        <a class="page-links" href="http://bionetfit.nau.edu/index.html">BioNetFit</a>
                        <p></p>
			<a class="page-links" href="http://michaelsneddon.net/nfsim/">NFSim</a>
                        <p></p>
			<a class="page-links" href="http://www.csb.pitt.edu/Faculty/Faeder/?page_id=409">BioNetGen</a>
                      </div>
                    </div>
                </div>
              </section>
</body>
{% endblock %}

<div class="col-md-6r col-md-6" >
                        <h3 class="display-4 size-override" style="border-bottom: 1px solid white;">Information Resources</h3>
                        <p>Here we provide links to all manuals, wikis, and instructional pages for working any of these programs: </p>
                        <a class="page-links" href="http://bionetfit.nau.edu/files/BioNetFit_User_Manual.pdf">BioNetFit User Manual</a>
                        <p></p>
			<a class="page-links" href="http://michaelsneddon.net/nfsim/">NFSim</a>
                        <p></p>
			<a class="page-links" href="http://www.csb.pitt.edu/Faculty/Faeder/?page_id=409">BioNetGen</a>
			<p></p>
			<a class="page-links" href="http://bionetfit.nau.edu">BioNetFit</a>
                      </div>