{% extends "master.html" %}

{% block content %}
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


<style type="text/css">
    .container {
        padding-top: 10px;
    }
    .btn {

	}
    
	body {
        background-image: url('/static/img/background.jpg');
    }
    
	textarea.form-control{
        height:100px;
    }
    
	.size-override {
		font-size: 150% !important;
    }
    
	.panel {
        border-bottom: 1px solid white;
    }
	
	.listbox {
		width: 100%;
	}
	
	.option {
		font-size: 125%;
		padding-bottom: 5px;
	}
	
	.preview {
		background-color: #E8ECEF;
		text-align: center;
		overflow-y: auto;
		height: 100%;
		max-height: 600px;
	}
	
	.fa {
		font-size: 220%;
		color: #585858;

	}
	
	.fileitem {
		margin: 4px;
		padding: 2px;
		display: inline-block;
		max-width: 110px;
		width: 110px;
	}
	
	.text {
		color: #000;
		font-size: 50%;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		text-align: center;
	}
	
	.highlight {
		background-color: #CCE8FE;
		border: 1px solid #2b72e5;
	}
	
	#file-preview {
		font-family: monospace;
		white-space: pre-wrap;
		overflow-x: auto;
		color: black;
		text-align: left;
		font-size: 60%;
	}
	
</style>

<body>
    <div class="container-fluid">

		{% if user.is_authenticated %}
        
			<div class="row">
			<div class="left col-md-3 col-sm-4">
				<h1 class="display-4 size-override" style="border-bottom: 1px solid white;">My Projects</h1>
				<div class="panel panel-default">
					<div class="panel-body">
					
						<select class="listbox" id="projects" size="10">
							{% for p in projects %}
								{% include "home/listbox_option.html" with label=p %}
							{% endfor %}
						</select>
						
						
						
					</div>
				</div>
				
					<br>
				<br>
				
				
				
				</div> <!-- left column -->
				
				
								
				
				
				
				
				<div class="col-md-9 col-sm-12">
				
					<h1 class="display-4 size-override" style="border-bottom: 1px solid white;">File/Visualization Preview</h1>
				
					<div id="preview" class="preview container">

						<div id="file-system">
						
						</div>
						
						<div id="file-preview" style="display: none;">
							<button id="back-btn" type="button" class="btn btn-secondary" style="float:left;"><i class="fa fa-arrow-left" aria-hidden="true" style="font-size:100%;"></i> Back</button>
							<div id="file-contents" style="padding-top: 15px;">
							
							</div>
						</div>
					
					
					</div>
					
				</div> <!-- right column -->
				
				
			{% else %}
            <h2>Not logged in.</h2>
			{% endif %}

        
        
        </div> <!-- row -->
    
    </div> <!-- container-fluid -->
</body>

<script>

	
	var structure = null;
	
	var path = [];
	
	
	var fileitem =	'<div class="fileitem file" id="{NAME}">' + 
						'<i class="btn fa fa-file-text" aria-hidden="true"></i>' + 
						'<br>' + 
						'<div class="text">{NAME}</div>' + 
					'</div>';
					
	var folderitem=	'<div class="fileitem folder" id="{NAME}">' + 
						'<i class="btn fa fa-folder-open-o" aria-hidden="true"></i>' + 
						'<br>' + 
						'<div class="text">{NAME}</div>' + 
					'</div>';
					
	var prevFolder=	'<div class="fileitem" id="prev">' + 
						'<i class="btn fa fa-angle-double-up" aria-hidden="true"></i>' + 
						'<br>' + 
						'<div class="text">..</div>' + 
					'</div>';

				
	// Update the file system preview
	function updatePreview() {
	
		var isInner = path.length == 0 ? false : true;
	
		var currentLevel = structure;
		for (var i = 0; i < path.length; i++) {
			currentLevel = currentLevel[path[i]];
		}
				
		$(".fileitem").remove();
		
		if (isInner) {
			$("#file-system").append(prevFolder);
		}
		
		for (var key in currentLevel) {

			// Item is a file
			if (typeof(currentLevel[key]) == "string") {
				$("#file-system").append(fileitem.replace(new RegExp("{NAME}", "g"), key.replace(new RegExp("__dot__", "g"), ".")));
			}
			
			// Item is a folder
			else {
				$("#file-system").append(folderitem.replace(new RegExp("{NAME}", "g"), key.replace(new RegExp("__dot__", "g"), ".")));
			}
		
		}
	}

	// Get project structure
	$(function() {
		$("#projects").change(function() {
			$.ajax({type: "POST",
					url: "/user",
					dataType: "json",
					data: {type: "project",
							project: $("#projects").val(),
							csrfmiddlewaretoken: '{{ csrf_token }}'},
					success: function(response)
						{
							
							$("#file-preview").css("display", "none");
							$("#file-system").css("display", "visible");
							
							structure = response;
							updatePreview(); 
							
						}
			});
		});
	});
	
	// Go down one directory on whatever folder was clicked
	$(document).ready(function() {
		
		$(document).on("dblclick", ".folder", function() {
			path.push($(this).attr("id"));
			updatePreview();
		});
	});
	
	// Go up one directory in file system
	$(document).ready(function() {
		
		$(document).on("dblclick", "#prev", function() {
			path.pop();
			updatePreview();
		});
		
	});
	
	// Highlight file system item on single click
	$(document).ready(function() {
		
		$(document).on("click", ".fileitem", function() {
			$(".highlight").removeClass("highlight");
			$(this).addClass("highlight");
		});
		
	});
	
	// Show file preview
	$(document).ready(function() {
		$(document).on("dblclick", ".file", function() {
		
			var newPath = path.slice();
			newPath.push($(this).attr("id"));
		
			$.ajax({type: "POST",
					url: "/user",
					dataType: "json",
					data: {type: "file",
							project: $("#projects").val(),
							file: JSON.stringify(newPath),
							csrfmiddlewaretoken: '{{ csrf_token }}'},
					success: function(response)
						{							
							$("#file-contents").html(response);
							$("#file-system").hide();
							$("#file-preview").show();
						}
			});
		
		});
	});
		
	// Go from file preview back to file system (back button)
	$(document).ready(function() {
		$(document).on("click", "#back-btn", function() {
			$("#file-preview").hide();
			$("#file-system").show();
		});
	});
	
		
	

</script>

{% endblock %}